@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "Sora", sans-serif;
  }
  body {
    @apply bg-surface text-ink900;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(19, 42, 38, 0.15);
    border-radius: 999px;
  }
}